<form [formGroup]="servey" (ngSubmit)="onSubmit(servey)">
  <label>userId</label>
  <input formControlName="userId" type="text" name="userId">
  <div *ngFor="let question of quections; let i = index">
    <p>{{ i + 1 }}. {{ question.quectionName }}</p>
    <div>
      <label>
        <input type="radio" formControlName="{{i}}" value="1" name="question.answers"> answer1
      </label>
      <label>
        <input type="radio" formControlName="{{i}}" value="2" name="question.answers"> answer2
      </label>
      <label>
        <input type="radio" formControlName="{{i}}" value="3" name="question.answers"> answer3
      </label>
      <label>
        <input type="radio" formControlName="{{i}}" value="4" name="question.answers"> answer4
      </label>
      <label>
        <input type="radio" formControlName="{{i}}" value="5" name="question.answers"> answer5
      </label>
    </div>
  </div>
  <button type="submit">check</button>
</form>