

<div class="nav-header">


  <header class="text-center text-white py-5" style="background-image:url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="nav-brand">
      <img src="https://s3-us-west-2.amazonaws.com/parallax-theme/assets/bradlogo2.png">
    </div>
    <i class="fa fa-bars fa-3x"></i>
    <h1 class="display-5 font-weight-bold mb-4"><u>Admin View</u></h1>
    <p class="lead mb-0">find</p>
    <p class="font-italic">Check each users servey details from below.
    </p>
<div class="navbar-expand">
  <button
    type="button"
    class="btn btn-danger m-1"
    (click)="goToUserServeyViewComponent()"

  >View Servey By User Id
  </button>
  <button
    type="button"
    class="btn btn-danger m-1"
    (click)="goToViewAllServeyComponent()"

  >Admin Srvey View all
  </button>

</div>


  </header>    </div>



