<div class="container">
  <br>
  <span class="d-block p-2 text-bg-primary">
        <p class="text-center">SignUp as User</p>
    </span>
  <br>
  <form [formGroup]="signup">




    <div class="mb-3 row">
      <label  class="col-sm-2 col-form-label">Name</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" formControlName="username">
        <div *ngIf="signup.controls['username'].invalid && signup.controls['username'].touched"
             class="text-danger">
          Name is required
        </div>
      </div>
    </div>


    <div class="mb-3 row">
      <label  class="col-sm-2 col-form-label">email</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" formControlName="email">
        <div *ngIf="signup.controls['email'].invalid && signup.controls['email'].touched" class="text-danger">
          Address is required
        </div>
      </div>

    </div>


    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" formControlName="password">
        <div *ngIf="signup.controls['password'].invalid && signup.controls['password'].touched"
             class="text-danger">
          Password is required
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="submit" (click)=" addUser()" [disabled]="signup.invalid">SignUp</button>

    </div>
  </form>
</div>
