<div
  class="d-flex justify-content-md-center align-items-center vh-100"
  id="main"
>
  <div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><h1 class="display-4">Quection List</h1></div>
    <div class="page__content shadow p-3 position-relative" id="main-container">
      <form  #userForm="ngForm" >
        <h3 class="display-3">Check the user enterd servey acording to the date</h3><br>
        <input class="form-control"placeholder="enter user id hear.."#userEnterdValue [(ngModel)]="id" type="number"  name="userId" id="userId"  >
        <div class="d-grid gap-2">
        <button type="button" class="btn btn-secondary btn-sm" name="submitButton" id="submitButton" (click)="getAllServeyByUserId((userEnterdValue.value))" >find</button>
        </div>
      </form>
      <br>
      <table class="table table-secondary table-striped">
        <thead>
        <tr>
          <th scope="col">servey Date</th>
          <th scope="col">result </th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let servey of serveys">
          <td>{{ servey.date|date}}</td>
          <td>{{ servey.userResult }}</td>


        </tr>
        </tbody>


      </table>

    </div>
  </div>
</div>
